$black: #000;
$white: #fff;

$lightest-gray: #c3c6cc;
$light-gray: #868c85;
$gray: #3e4347;

$light-blue: #2087db;
$blue: #2F305B;
$dark-blue: #18121e;

$green: #329b1d;
$dark-green: #367c43;

$red: #d10e0e;
$dark-red: #990f0f;
