html {
  position: relative;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: $serif;
  font-size: 12px;
  color: $black;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea {
  border: 1px solid $gray;
  border-radius: 2px;
  padding: 5px;
}

.small-btn {
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 15px;
  color: $white;
  font-family: $sans-serif;
}

.btn {
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 18px;
  margin-right: 10px;
  color: $white;
  font-family: $sans-serif;
}

.blue-btn {
  border: 2px solid $dark-blue;
  background-color: $blue;
}

.blue-btn:hover {
  background-color: $dark-blue;
}

.green-btn {
  background-color: $green;
  border: 2px solid $dark-green;
}

.green-btn:hover {
  background-color: $dark-green;
}

.red-btn {
  background-color: $red;
  border: 2px solid $dark-red;
}

.red-btn:hover {
  background-color: $dark-red;
}

.block {
  width: 100%;
}

.gray-icon {
  color: $light-gray;
}
