.board-content {
  margin: auto;
  max-width: 1300px;
}

.board-content h1 {
  color: $gray;
  margin: 15px 0 0 15px;
}

.board-index {
  display: flex;
  flex-wrap: wrap;
}

.board-box {
  width: 20%;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  margin: 15px;
  font-family: sans-serif;
}

.blue-board-box {
  background-color: $blue;
  border: 1px solid $dark-blue;
  color: $white;
}

.blue-board-box:hover {
  background-color: $dark-blue;
}

.board-index a {
  display: block;
  height: 100%;
}

.board-index span {
  padding: 10px;
  display: inline-block;
}
