.new-board-item {
  width: 250px;
  height: 100px;
  color: $gray;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  float: left;
  margin: 15px;
  font-family: sans-serif;
  background-color: $lightest-gray;
  border: 1px solid $gray;
}

.new-board-item:hover {
  cursor: pointer;
  background-color: $light-gray;
  color: $black;
}

.modal-content {
  font-family: $sans-serif;
}

.close-modal-button {
  float: right;
  border: none;
}

.modal-form-label {
  display: block;
}
