.new-board-box {
  color: $gray;
  background-color: $lightest-gray;
  border: 1px solid $gray;
}

.new-board-box:hover {
  cursor: pointer;
  background-color: $light-gray;
  color: $black;
}

.modal-container {
  display: block;
  height: 100%;
}

.modal-content {
  font-family: $sans-serif;
  font-weight: bold;

  .close-modal-button {
    float: right;
    border: none;
  }

  .modal-form-label {
    display: block;
    margin: 10px 0;
  }

  .modal-header {
    border-bottom: 1px solid $light-gray;
    color: $light-gray;
    padding-bottom: 5px;
  }

  .form-board-name {
    margin-bottom: 15px;
    width: 235px;
  }

  h3 {
    text-align: center;
  }

  button {
    display: block;
  }
}
