.new-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: $white;
  border: 1px solid $black;
  // height: 100%;
  z-index: 1;
}

.edit-modal-container {
  display: inline-block;
}

.modal-content {
  font-family: $sans-serif;
  font-weight: bold;

  .close-modal-button {
    float: right;
    border: none;
  }

  .modal-form-label {
    display: block;
    margin: 10px 0;
  }

  .modal-header {
    border-bottom: 1px solid $light-gray;
    color: $light-gray;
    padding-bottom: 5px;
  }

  .form-board-name {
    margin-bottom: 15px;
    width: 235px;
  }

  h3 {
    text-align: center;
  }

  button {
    display: block;
  }
}
