.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $light-blue;
  color: $white;
  height: 40px;
  padding: 20px 0;
  border-bottom: 1px solid $blue;

  .header-button-group {
    margin: 8px 15px 0 0;
    height: 25px;
  }

  .header-group {
    margin: 5px 15px 0 0;
    height: 25px;
  }

  .user-name {
    margin-right: 25px;
    display: inline-block;
  }

  .header-button {
    margin-bottom: 10px;
  }

  .logo {
    margin: 5px 0 0 15px;
    font-style: italic;
    opacity: .9;
  }

  .logo:hover {
    opacity: 1;
  }
}
