.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $blue;
  color: $white;
}

.header-group {
  display: flex;
  margin: 10px 15px 0 0;
}

.user-name {
  margin-right: 10px;
}

.header-button {
  margin-bottom: 10px;
}

.logo {
  margin-left: 15px;
}
