.outer-form-screen {
  position: absolute;
  background-color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-form-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: $gray;
}

.form-label {
  display: block;
  font-size: 16px;
  margin: 20px 0;
}

.form-input-container {
  margin: 30px 0;
}

.form-input {
  font-size: 18px;
  width: 100%;
}

.login-form-box {
  max-width: 315px;
}

.form-btn {
  background-color: $green;
  border: 2px solid $dark-green;
}

.form-btn:hover {
  background-color: $dark-green;
}

.form-footer {
  margin-top: 30px;
  color: $light-gray;
  font-size: 18px;
}

.form-footer a {
  text-decoration: underline;
}

.form-footer a:hover {
  color: $black;
}

.form-errors {
  color: $red;
  margin-top: 40px;
  font-size: 16px;
}

.form-errors li {
  margin-bottom: 15px;
}
