.outer-form-screen {
  z-index: 2;
  position: absolute;
  background-color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  color: $gray;
  width: 400px;
  h1 {
    text-align: center;
  }

  button {
    text-align: center;
  }
}

.form-label {
  display: block;
  font-size: 16px;
  margin: 20px 0;
}

.form-input-container {
  margin: 30px 0;
}

.form-input {
  font-size: 18px;
}

.form-btn {
  margin-bottom: 20px;
}

.form-footer {
  color: $light-gray;
  font-size: 18px;
}

.form-footer a {
  text-decoration: underline;
}

.form-footer a:hover {
  color: $black;
}

.form-errors {
  color: $red;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

.form-errors li {
  margin-bottom: 15px;
}
