.splash {
  display: flex;
  width: 100vw;
  height: calc(100vh - 81px);
  background: url(/assets/project-management.jpeg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;

  .splash-box {
    background-color: $light-blue;
    border: 1px solid $dark-blue;
    border-radius: 5px;
    width: 400px;
    height: 425px;
    text-align: center;
  }

  .demo-button {
    margin-top: 40px;
  }

  h1, h2 {
    color: $white;
    margin: 60px 0;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  link-group {
    margin-left: 50px;
  }
}
